<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>itcast_fileupload</display-name>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.yihengliu.web.action.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadActionServlet</servlet-name>
    <servlet-class>com.yihengliu.web.action.UploadActionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UploadActionServlet</servlet-name>
    <url-pattern>/UploadActionServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>