.head{
	width: 100%;
	margin: 0px 0px 0px 0px; 
}
.head_content{
	width:60%;
	margin: auto;
}
.content_body{
	width: 100%;
	margin: 0px 0px 0px 0px; 	
}
.content_body_content{
	width:60%;
	margin: auto;	
}
.table_conent{
	margin-top: 20px;
}
.bottom{
	position: absolute;
	top: 45%;
	width: 100%;
}
.bottom_content{
	width: 60%;
	margin: auto;
	height: 75px;
}
.btnStyle{
	margin-right: 15px;
}
.toolStyle{
	text-align:left;
	margin-left: 30px;
}